<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sujitha.expensemanagement"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sujitha.expensemanagement.MonthExpenseDashboard"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sujitha.expensemanagement.AddExpense"
            android:label="Add Expense" >
        </activity>
        <activity
            android:name="com.sujitha.expensemanagement.ExpenseCategoryListDetail"
            android:label="Expenses" >
        </activity>
         <activity
            android:name="com.sujitha.expensemanagement.UpdateExpense"
            android:label="Update Expense" >
        </activity>
        
        
    </application>

</manifest>